<div data-ng-view class="shuffle-animation"></div>

<!-- app code -->
<script src="/app/app.module.js" type="application/javascript"></script>
<script src="/app/app.routes.js" type="application/javascript"></script>
<!-- services -->
<script src="/app/services/officeService.js" type="application/javascript"></script>
<script src="/app/services/customerService.js" type="application/javascript"></script>
<!-- contollers -->
<script src="/app/customers/customers.controller.js" type="application/javascript"></script>
<script src="/app/customers/customers-detail.controller.js" type="application/javascript"></script>