<!doctype html>
<html>
<head>
  <title>Office 365 + Node.js Demo App</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
</head>
<body layout="column" id="container">

  {{{body}}}

</body>
</html>