<!doctype html>
<html>
<head>
  <title>My First Node.js Website</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

  <!-- vendor scripts -->
  <script src="/public/vendor/jquery/dist/jquery.min.js" type="application/javascript"></script>

  <!-- styles -->
  <link href="/public/content/app.css" rel="stylesheet" type="text/css"/>
</head>
<body layout="column">

  {{{body}}}

</body>
</html>